// Cores
$htmlColor1: #E44D26;
$htmlColor2: #F16529;
$cssColor1: #264DE4;
$cssColor2: #2965F1;
$jsColor1: #E5A228;
$jsColor2: #F1BF26;
$black: #111111;
$white: #FFFFFF;
$cinza: #343538;
$cinzaC: #d3d3d3;


// Reset CSS
* {
    margin: 0;
    padding: 0;
}

/*
xs: 0,        //Smartphones em modo retrato
sm: 576px,    //Smartphones em modo paisagem ou Tablets em modo retrato
md: 768px,    //Tablets em modo paisagem
lg: 992px,    //Desktops
xl: 1200px,   //Desktops com alta definição HD e FHD
xxl: 2000px   //Desktops com ultra alta definição QHD e UHD
*/


//First Mobile
header {
    background-color: $black;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    
    img {
        width: 100px;
        height: 100px;
    }
    nav {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-end;
        height: 50px;
        #check{
            display: none;
        }
        label{
            font-size: 2em;
            padding-right: 15px;
            color: $white;
        }
        ul {
            background-color: $cinza;
            position: fixed;
            top: 50px;
            right: -100%;
            height: 100vh;
            li {
                list-style: none;
                padding: 20px;
                border-bottom: 1px solid #a9a9a9;
                font-size: 1em;
                a {
                    color: white;
                    text-decoration: none;
                    padding: 10px;
                    line-height: 30px;
                }
            }
        }
    }
    #check:checked ~ ul{
        right: 0;
    }
    
}

main{
    height: 70vh;
    background: url(../img/Destaque_o20.png);
    background-size: auto;
    color: $black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    h1{
        font-size: 2.5em;
    }
    h2{
        font-size: 1em;
        margin: 20px 0px 50px 0px;
    }
    .htmlC{
        color: $htmlColor1;
    }
    .cssC{
        color: $cssColor1;
    }
    .jsC{
        color: $jsColor1;
    }
}
//corpo
#HTML{
    background-color: $htmlColor2;
}
#CSS{
    background-color: $cssColor2;
}
#JS{
    background-color: $jsColor2;
}
//Links Úteis
#LU{
    color: #ffff;
    padding: 0px 10px;
    background: $cinzaC;
    h2{
        margin-bottom: 10px;
    }
    .Flex2{
        display: flex;
        align-items: center;
        text-decoration: none;
    }
}

//Tablets em modo paisagem ou maior 
@media (min-width: 768px ) {
    header {
        height: 80px;
        img {
            width: 160px;
            height: 160px;
        }
        nav {
            height: 80px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            label {
                display: none;
            }
            ul {
                position: static;
                height: auto;
                background-color: transparent;
                
                li{
                    float: left;
                    border: 0;
                    a{
                        text-decoration: none;
                        color: $white;
                    }
                    a:hover{
                        color:$htmlColor1;
                    }
                }
            }
        }  
    }
}



section {
    height: 70vh;
}


@media(min-width: 992px){
    .container{
        max-width: 960px;
    }
    main{
        height: 70vh;
    }
}

@media(min-width: 1200px){
    .container{
        max-width: 1140px;
    }
    main{
        height: 70vh;
        h1{
            font-size: 4em;
        }
        h2{
            font-size: 2.5em;
        }
    }
}
